
  body {
    font-family: 'Special Elite', cursive;
    text-shadow: 4px 4px 4px #aaa;
    margin: 0px;
  }

  p {
      font-family: 'Josefin Slab', serif;
  }

  .flex-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
      background: url(/images/parchment-body.jpg);
      background-size: cover;
      height: 20%;
      width: 100%;
  }

  #layout-header {
      height: 50%;
  }

  #layout-text {
      height: 30%;
      justify-self: center;
  }

  header h1 {
      font-size: 50px;
      margin-left: 40px;
  }

  header p {
      font-size: 30px;
      margin-left: 80px;
  }

  nav {
      background: url(/images/parchment-header.jpg);
      position: relative;
      left: 1200px;
      top: -30px;
      width: 35%;
      height: 40%;
      border-radius: 15px;
      display: flex;
      align-items: center;
  }

  div #menu {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #menu li {
      padding: 10px;
      list-style-type: none;
      height: 100%;
      width: 100%;
      font-size: 24px;
  }

  main {
    background: url(/images/parchment-body-2.jpg);
    background-size: cover;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main #index_header {
      margin: 10px;
      margin-top: 50px;
      height: 10%;
      font-size: 24px;
  }

  main #index_body {
      height: 30%;
      width: 50%;
      font-size: 18px;
      margin: 20px;
      margin-bottom: 40px;
  }

  main #login_buttons {
      height: 60%;
      flex-direction: row;
  }

  main #login_buttons a {
    margin: 30px;
  }

  footer {
      height: 10%;
      width: 100%;
      /* background-color: #a17750; */
      background: url(/images/parchment-body.jpg);
      background-size: cover;
  }
