<header>
    <h1>Reclaim My Rep</h1>
    <nav>

    </nav>
</header>
<main>
<p>welcome and description of application</p>
<a href="/users/login"><img src="/images/button_login.png" alt="Log In" ></a> <a href="/users/signup"><img src="/images/button_sign-up.png" alt="Sign Up" ></a>
</main>