    <div id="index_header">
        <h3>What is Reclaim My Rep?</h3>
    </div>
    <div id="index_body">
        <p>
            Reclaim My Rep is a web application which allows citizens to keep track of their elected representatives.
            Remind your representatives that they are elected to represent <em>your</em> interests, not those of their donors.
            Once a citizen creates an account, the tool allows them to find and keep track of their elected representatives.
            It also gives them the ability to track contacts they have had, whether or not they have received a response,
            and if they feel the response was meaningful.
        </p>
        <p>
            The tool allows citizens to be more engaged in their representation, and more informed when they go to the 
            ballot box. Make sure your govenment is working for you by signing up!
        </p>
    </div>
    <div id="login_buttons">
        <a href="/users/login"><img src="../public/images/button_login.png" alt="Log In" ></a> <a href="/users/signup"><img src="../public/images/button_sign-up.png" alt="Sign Up" ></a>
    </div>
