<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reclaim My Rep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special+Elite|Josefin+Slab">
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
</head>

<body>
<div class="flex-container">
<%=yield%>
</div>
</body>

</html>