<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reclaim My Rep</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
    <style>
    </style>
</head>

<body>
<%=yield%>
</body>

</html>