<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reclaim My Rep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special+Elite|Josefin+Slab">
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
</head>

<body>
    <div class="flex-container">
        <header>
                <h1>Reclaim My Rep</h1>
                <p>Remind them who they represent.</p>
            <%if logged_in?%>
            <nav>
                <ul>
                    <div id="menu">
                        <li>Menu</li>
                        <li>Log Out</li>
                    </div>
                </ul>
            </nav>
            <%end%>
        </header>
            <main>
                <%=yield%>
            </main>
        <footer>
        </footer>
    </div>
</body>

</html>