<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reclaim My Rep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special+Elite|Josefin+Slab">
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
</head>

<body>
        <header>
                <h1>Reclaim My Rep</h1>
                <p>Remind them who they represent.</p>
            <%if logged_in?%>
            <nav>
            <div id="menu">
                <ul>
                        <a href="/reps/show"><li>Reps</li></a>
                        <a href="/contacts/show"><li>Contacts</li></a>
                        <a href="/users/profile"><li>Account</li></a>
                        <a href="/users/logout"><li>Logout</li></a>
                </ul>
                </div>
            </nav>
            <%end%>
        </header>
            <main>
                <%=yield%>
            </main>
        <footer>
        </footer>
</body>

</html>